* {
  box-sizing: border-box;
}

html, body, ul {
  padding: 0;
  margin: 0;
}

#bloc-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  justify-content: center;
}

/* Style H1 / P */
h1 {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 23px;
}

h3 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-decoration: none;
  color: black;
}

p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 17px;
}

/*HEADER STYLE */
header {
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 10px;
}
header h1 {
  font-size: 35px;
}

/* SECTION RESEARCH */
#localisation {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 2px;
  background-color: #ebebeb;
  align-items: baseline;
  box-shadow: inset 0px 5px 10px -10px;
}
#localisation #search {
  border: none;
  background-color: #ebebeb;
}
#localisation::placeholder {
  text-align: center;
  height: 50px;
  color: black;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/* Corp principal du site */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* SECTION 1 */
.explore-restaurant {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 40px 20px;
  background-color: #f3f3f3;
  gap: 10px;
}
.explore-restaurant h2 {
  text-align: center;
  margin-left: 60px;
  margin-right: 50px;
  font-weight: 900;
}
.explore-restaurant p {
  text-align: center;
}
.explore-restaurant .explore {
  display: flex;
  justify-content: center;
  border: none;
  align-self: center;
  width: 200px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px 30px 30px 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  box-shadow: 5px 5px 20px -10px black;
}
.explore-restaurant .explore a {
  text-decoration: none;
  color: white;
}

/* SECTION 2 */
#functioning {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}
#functioning h2 {
  margin-left: 30px;
}
#functioning #functioning-order {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#functioning #functioning-order .card-fonctioning-order {
  display: flex;
  flex-direction: row;
  border-radius: 20px 20px 20px 20px;
  width: 85%;
  align-self: center;
  background-color: #f3f3f3;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 20px -10px;
}
#functioning #functioning-order .card-fonctioning-order p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-size: large;
  gap: 20px;
  /* steps number functioning*/
}
#functioning #functioning-order .card-fonctioning-order p .number-step {
  position: relative;
  background-color: #9356DC;
  border: 3px solid #9356DC;
  border-radius: 50px;
  padding: 0px 4px 0px 4px;
  color: white;
  font-size: 15px;
  left: -8px;
}
#functioning #functioning-order .card-fonctioning-order p .fas {
  color: grey;
}
#functioning #functioning-order .card-fonctioning-order p .fas:hover {
  color: #9356DC;
}
#functioning #functioning-order .card-fonctioning-order p .function-name {
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
#functioning #functioning-order .card-fonctioning-order:hover {
  background-color: rgba(147, 86, 220, 0.2);
}

/* SECTION RESTAURANT */
#restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 20px;
  background-color: #f3f3f3;
}
#restaurant h2 {
  align-self: center;
  width: 90%;
}
#restaurant .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 20px;
  /* CARD RESTAURANT */
}
#restaurant .card-container a {
  width: 90%;
  align-items: center;
  text-decoration: none;
  color: black;
}
#restaurant .card-container .card-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 20px -10px;
  height: 200px;
  /* PICTURE OF FOOD FROM RESTAURANT */
  /* INFORMATION OF RESTAURANT */
}
#restaurant .card-container .card-restaurant:hover {
  transform: scale(1.05);
  transition-duration: 200ms;
  box-shadow: 5px 5px 20px -10px;
}
#restaurant .card-container .card-restaurant .picture {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
#restaurant .card-container .card-restaurant .picture p {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  color: #2d8f76;
  font-weight: 500;
}
#restaurant .card-container .card-restaurant .picture img {
  display: flex;
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
#restaurant .card-container .card-restaurant .card-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 10px 20px 10px;
  position: relative;
  /* RESTAURANT NAME AND CITY */
}
#restaurant .card-container .card-restaurant .card-info .info-restaurant {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#restaurant .card-container .card-restaurant .card-info .info-restaurant .name-localisation-restaurant {
  display: flex;
  flex-direction: column;
  width: 90%;
}
#restaurant .card-container .card-restaurant .card-info .info-restaurant .name-localisation-restaurant h3 {
  font-family: "Roboto", sans-serif;
}
#restaurant .card-container .card-restaurant .card-info .info-restaurant .like,
#restaurant .card-container .card-restaurant .card-info .info-restaurant .like-empty-heart {
  position: relative;
  width: 3rem;
  cursor: pointer;
}
#restaurant .card-container .card-restaurant .card-info .info-restaurant .like-empty-heart {
  width: 2rem;
  position: absolute;
}
#restaurant .card-container .card-restaurant .card-info .info-restaurant .like-empty-heart path {
  fill: black;
}
#restaurant .card-container .card-restaurant .card-info .info-restaurant .like-full-heart {
  width: 2rem;
  position: absolute;
  opacity: 0;
}
#restaurant .card-container .card-restaurant .card-info .info-restaurant .like-full-heart:hover {
  opacity: 1;
  transition: 500ms ease-in-out;
}

/* FOOTER */
footer {
  background-color: #444343;
  padding: 20px 20px 20px 20px;
  /* LOGO .SVG Ohmyfood FOOTER*/
  /* List footer */
}
footer svg {
  width: 100px;
  height: 40px;
}
footer svg path {
  fill: #ffffff;
}
footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
}
footer ul li {
  display: flex;
}
footer ul li a {
  text-decoration: none;
  color: white;
  /* ICO FA IN FOOTER */
}
footer ul li a .fa-utensils {
  font-size: 15px;
  margin-right: 5px;
}
footer ul li a .fa-hands-helping {
  font-size: 10px;
  margin-right: 5px;
}

/*# sourceMappingURL=index.css.map */
