@media screen and (min-width:1025px){

    #functioning {

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        h2{
            align-self: center;
            margin: 0%;
        }
        #functioning-order {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;
            .card-fonctioning-order {
                width: 30%;
                height: 70px;
                .number-step {
                    height: 23px;
                }
            }
        }   
    }

    .card-container {

        display: flex;
        flex-direction: row;
        width: 100%;
        .card-restaurant {
            display: block;
            width: 20%;
            height: 400px;
            
        }
    }

}